.DS_Store
.vscode/*
.venv
.mypy_cache
.grok
__pycache__
*.min.*
RB/src/demos/CDFs
.ebextensions
*.aux
*.fdb_latexmk
*.fls
*.xdv
node_modules
anim*.mp4
*.aux
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.snm
*.toc
*.xdv

QM Course Materials/Animations/media
QM Course Materials/Manim Animations/media
QM Course Materials/Manim Animations/quantum-test/media
QM Course Materials/Manim Animations/quantum-test/Harmonic Oscillator Audio.m4a

!QM Course Materials/Asciidoctor-test-qm/node_modules/reveal.js

!.vscode/tasks.json
!.vscode/launch.json
!.vscode/snippets.code-snippets

QM Course Materials/Problems+exercises/Quantum Solutions

# Added by cargo

/target
