body {
	max-width: 800px;
	margin: 50px auto;
	padding: 0;
	background-color: black;
	color: white;
	font-size: 21px;
	font-family: sans-serif;
}

.play-button {
	margin-top: 1.5em;
	margin-bottom: 1em;
	width: 5em;
	font-size: 15px;
}

.slider-label {
	margin-right: 1em;
	display: inline-block;
}

.div-below-slider {
	padding-top: 10px;
}

.highlighted-text {
	color: #5df;
}

.secondary-text {
	color: #f3c002;
}

.tiertiary-text {
	color: #14c778;
}

.quaternary-text {
	color: #e5d;
}

.viz-canvas {
	padding-top: 1em;
}

.sci-num {
	padding-right: 0.15em;
}

.eqn-left {
	text-align: right;
}

.eqn-middle {
	padding-left: 0.25em;
	padding-right: 0.25em;
}

.eqn-right {
	text-align: left;
}

.radio-label {
	padding-left: 3px;
}

.subscript {
	position: relative;
	top: 0.3em;
	left: 0em;
	font-size: 65%;
}

.minus-sign {
	margin-right: 1px;
}

.operator {
	margin-left: 3px;
	margin-right: 3px;
}

button.depressed-button {
	background-color: #555;
	color: white;
}

input[type="radio"] {
	position: relative;
	bottom: 4px;
}

input[type="range"] {
	-webkit-appearance: none;
	-moz-apperance: none;
	width: 40%;
	height: 8px;
	padding: 0 0px;
	background: #8b8f92;
	border-radius: 2px;
	margin-top: 25px;
	position: relative;
	bottom: 4px;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	-moz-apperance: none;
	width: 25px;
	height: 25px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #fefefe),
		color-stop(0.49, #d7d7d7),
		color-stop(0.51, #d1d1d1),
		color-stop(1, #c8c8c8)
	);
	border: 1px solid #787878;
}

input[type="range"]::-moz-range-thumb {
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	border: 1px solid #000000;
	height: 20px;
	width: 20px;
	border-radius: 20px;
	background: #ffffff;
	cursor: pointer;
}

/* All the same stuff for IE */
input[type="range"]::-ms-thumb {
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	border: 1px solid #000000;
	height: 20px;
	width: 20px;
	border-radius: 20px;
	background: #ffffff;
	cursor: pointer;
}
